<p-dataTable [value]="clients" selectionMode="single" [(selection)]="selectedClient" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
  <p-header>Client Details</p-header>
  <p-column field="id" header="Id" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="birthday" header="Birthday" [sortable]="true"></p-column>
    <p-column field="sex" header="Sex" [sortable]="true"></p-column>
    <p-column field="address" header="Address" [sortable]="true"></p-column>
    <p-column field="createdAt" header="Created At" [sortable]="true"></p-column>
    <p-column field="updatedAt" header="Updated At" [sortable]="true"></p-column>
    <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" label="Add"></button></div></p-footer>
</p-dataTable>


