<p>

    <img src="assets/pills.jpg" align="center" width=500 height=250  />
  </p>
<p-dataTable [value]="drugs" selectionMode="single" [(selection)]="selectedClient" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
    <p-header>Drug Details</p-header>
    <p-column field="id" header="Id" [sortable]="true"></p-column>
      <p-column field="name" header="Name" [sortable]="true"></p-column>
      <p-column field="producer" header="Producer" [sortable]="true"></p-column>
      <p-column field="supply" header="Supply" [sortable]="true"></p-column>
      <p-column field="price" header="Price" [sortable]="true"></p-column>
      <p-column field="createdAt" header="Created At" [sortable]="true"></p-column>
      <p-column field="updatedAt" header="Updated At" [sortable]="true"></p-column>
      <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
  </p-dataTable> 
  
  
  <p-dialog header="Drug Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" appendTo="body" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="drug">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="name">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="drug.name" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="producer">Producer</label></div>
            <div class="ui-grid-col-8"><input pInputText id="producer" [(ngModel)]="drug.producer" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="supply">Supply</label></div>
            <div class="ui-grid-col-8"><input pInputText id="supply" [(ngModel)]="drug.supply" /></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="price">Price</label></div>
          <div class="ui-grid-col-8"><input pInputText id="price" [(ngModel)]="drug.price" /></div>
      </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="createdAt">CreatedAt</label></div>
            <div class="ui-grid-col-8"><input pInputText id="createdAt" [(ngModel)]="drug.createdAt" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="updatedAt">UpdatedAt</label></div>
            <div class="ui-grid-col-8"><input pInputText id="updatedAt" [(ngModel)]="drug.updatedAt" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="edit()" label="Edit"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
  
