<p>

    <img src="assets/sale.jpg" align="center" width=500 height=300  />
  </p>

<p-dataTable [value]="sales" selectionMode="single" [(selection)]="selectedClient" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
    <p-header>Sales Details</p-header>
    <p-column field="id" header="Id" [sortable]="true"></p-column>
      <p-column field="id_drug" header="Id_drug" [sortable]="true"></p-column>
      <p-column field="id_prescription" header="Id_prescription" [sortable]="true"></p-column>
      <p-column field="quantity" header="Quantity" [sortable]="true"></p-column>
      <p-column field="createdAt" header="Created At" [sortable]="true"></p-column>
      <p-column field="updatedAt" header="Updated At" [sortable]="true"></p-column>
      <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
  </p-dataTable>


  <p-dialog header="Sale Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" appendTo="body" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="sale">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_drug">Id_drug</label></div>
            <div class="ui-grid-col-8"><input pInputText id="id_drug" [(ngModel)]="sale.id_drug" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id_prescription">Id_prescription</label></div>
            <div class="ui-grid-col-8"><input pInputText id="id_prescription" [(ngModel)]="sale.id_prescription" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="quantity">Quantity</label></div>
            <div class="ui-grid-col-8"><input pInputText id="quantity" [(ngModel)]="sale.quantity" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="createdAt">CreatedAt</label></div>
            <div class="ui-grid-col-8"><input pInputText id="createdAt" [(ngModel)]="sale.createdAt" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="updatedAt">UpdatedAt</label></div>
            <div class="ui-grid-col-8"><input pInputText id="updatedAt" [(ngModel)]="sale.updatedAt" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="edit()" label="Edit"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
