<p-dataTable [value]="sales" selectionMode="single" [(selection)]="selectedClient" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
    <p-header>Sales Details</p-header>
    <p-column field="id" header="Id" [sortable]="true"></p-column>
      <p-column field="id_drug" header="Id_drug" [sortable]="true"></p-column>
      <p-column field="id_prescription" header="Id_prescription" [sortable]="true"></p-column>
      <p-column field="quantity" header="Quantity" [sortable]="true"></p-column>
      <p-column field="createdAt" header="Created At" [sortable]="true"></p-column>
      <p-column field="updatedAt" header="Updated At" [sortable]="true"></p-column>
      <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" label="Add"></button></div></p-footer>
  </p-dataTable>
